{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Upload Comic </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<style>
    body {
        margin: 0;
        height: 100vh;
        background-image: url("{% static 'img/login-background/bg-5.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
  </style>
</head>
<body>
  <div class="container">
    <!-- Title section -->
    <div class="title">Upload Comic</div>
    <div class="content">
      <!-- Registration form -->
      <form method="POST" action="{% url 'add_comic' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="user-details">
          <!-- Input for Full Name -->
          <div class="input-box">
            <span class="details">Title</span>
            <input type="text" name="title" value="{{ comic_form.title.value|default:'' }}" placeholder="Enter your comic title" required>
          </div>
          <!-- Input for Category -->
          <div class="input-box">
            <span class="details">Anime Name</span>
            <select name="anime_name" id="">
                {% for anime in animes %}
                    <option value="{{ anime.id }}" 
                            {% if comic_form.anime_name.value == anime.id|stringformat:"s" %}
                                selected
                            {% endif %}
                    >
                        {{ anime.anime_name }}
                    </option>
                {% endfor %}
            </select>
          </div>
          <!-- Input for Email -->
          <div class="input-box">
            <span class="details">Category</span>
            <select name="category" id="">
                {% for category in categories %}
                    <option value="{{ category.id }}"
                            {% if comic_form.category.value == category.id|stringformat:"s" %}
                                selected
                            {% endif %}
                    >
                    {{ category.title }}</option>
                {% endfor %}
            </select>
          </div>
          <!-- Input for Phone Number -->
          <!-- <div class="input-box private">
            <div class="private-details">
                <input type="radio" name="is_active" value="0" id="private-yes">
                <input type="radio" name="is_active" value="1" id="private-no">

                <span class="gender-title">Private</span>

                <div class="category">
                    <label for="private-yes">
                    <span class="dot private-one"></span>
                    <span>Yes</span>
                    </label>

                    <label for="private-no">
                    <span class="dot private-two"></span>
                    <span>No</span>
                    </label>
                </div>
            </div>
          </div> -->
        </div>
        <div class="user-details">
            <div class="input-box">
                <span class="details">Extra Details</span>
            </div>
            <textarea name="desc" class="cus-textarea" rows="5">{{ comic_form.desc.value|default:'' }}</textarea>
        </div>
        <div class="user-details">
            <div class="input-box">
                <span class="details">Comic Template</span>
            </div>

            <div class="tab-content">
                <!-- PDF Upload -->
                <div class="tab-pane fade show active" role="tabpanel">
                    <div class="card card-body">
                        <input type="file" name="img_src" accept="image/*" class="form-control" required>
                    </div>
                </div>

            </div>
        </div>
        <div class="user-details">
            <div class="input-box">
                <span class="details">Select Comic Type</span>
            </div>

            <!-- Tabs Nav -->
            <ul class="nav nav-pills mb-3" id="comicTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active"
                            id="pdf-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#pdf"
                            type="button"
                            role="tab">
                        Upload PDF
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="images-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#images"
                            type="button"
                            role="tab">
                        Upload Images
                    </button>
                </li>
            </ul>

            <!-- Tabs Content -->
            <div class="tab-content" id="comicTabContent">

                <!-- PDF Upload -->
                <div class="tab-pane fade show active" id="pdf" role="tabpanel">
                    <div class="card card-body">
                        <input type="file" name="comic_pdf_file" accept="application/pdf" class="form-control">
                    </div>
                </div>

                <!-- Images Upload -->
                <div class="tab-pane fade" id="images" role="tabpanel">
                    <div class="card card-body">
                        <input type="file" name="comic_images" accept="image/*" multiple class="form-control">
                    </div>
                </div>

            </div>
        </div>
        <!-- Submit button -->
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
  <!-- jQuery -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- custom  -->
    <script src="{% static 'js/custom.js' %}"></script>
    {% if messages %}
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        {% for message in messages %}
        Swal.fire({
            icon: "{% if message.tags == 'success' %}success{% else %}error{% endif %}",
            title: "{{ message.tags|title }}",
            text: "{{ message }}",
            confirmButtonColor: "#3085d6",
        });
        {% endfor %}
    });
    </script>
{% endif %}
</body>
</html>


