{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Email Sent</title>
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

    <div class="auth-container">
        <h2>📧 Reset Link Sent</h2>

        <p class="auth-message">
            If your account exist, the url will be shared on your email address.
        </p>

        <p class="auth-message">
            Please check inbox & spam folder.
        </p>

        <a href="{% url 'login' %}">Back to Login</a>
    </div>

</body>
</html>